* {
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

.bg-dark {
    padding: 0 10em;
}

.nav-item {
    padding: 0 0.5em
}

.hero {
    background-image: url('../img/hero5.jpg'); 
    height: 100%;
    background-position: center center; 
    position: relative; 
    top: 0; 
    bottom: 0; 
    height: 100vh; 
    z-index: 100; 
}

.hero-overlay {
    position: absolute; 
    background-color: rgba(0,0,0,0.65); 
    top: 0; 
    bottom: 0; 
    height: 100%; 
    width: 100%; 
    z-index: 101; 
}

.cont {
    padding-left: 6em; 
    padding-right: 6em;
}

.navbar-toggler {
    z-index: 102
}

h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center; 
    padding-bottom: 0.2
}

.flx p {
    color: #f4f4f4;
    font-size: 1.5rem;
    text-align: center;
}

.mflex h2 {
    padding-bottom: 0.35em;
}


.flx { 
  margin-top: 35vh;
}

.first {
    margin: 0 9em;
    height: 85vh;
}

.mflex {
    display: flex;
    padding-top: 8em;
}


.mflex h2 {
    text-align: center;
}



.about { 
    flex-basis: 0;
    flex-grow: 1;
}

.profile {
    flex-basis: 0;
    flex-grow: 1;
}

.img-ctr {
    display: flex; 
    justify-content: center;
}

.fab {
    margin-top: 0.6em;
    font-size: 2em;
}

.fa-linkedin {
    color: #696969;
    margin-right: 0.3em; 
}

.fa-github-square {
    color:#696969;
    margin-left: 0.3em;
}

.fa-linkedin:hover {
    color: #2567b3;
}

.fa-github-square:hover {
    color: #a80000
}

.outer {
    /*position: relative;*/
    height: 500px; 
    width: 1400px; 
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}
 .overlay {
   display: none;
}

.outer:hover .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 65, 114, 0.6);
    top: 0;
}

.final {
    padding-top: 2em;
}

.overlay h3 {
    margin-top: 225px;

}

.overlay-1 h3 {
    margin-top: 225px; 
}


.overlay-1 {
    display:none; 
}

.outer:hover .overlay-1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 247, 197, 0.6);
    top: 0;
}

.cc {
    background-color: black; 
    color: #fff; 
    display: block; 
    text-align: center;
}

.footer {
    margin-top: 5em; 
    padding-top: 0.7em;
}

.footer a {
    text-decoration: none; 
    color: white; 

}

.footer a:hover {
    color: 	#808080; 
}

.footer li {
    list-style: none;
}

.footer {
    background-color: #191919;
}

.mynav {
    color: white;
}

.footer ul {
    margin-left: 3.5em; 
}

.cflex {
    display: flex;
     
}

.navlist { 
    flex-basis: 0; 
    flex-grow: 1;
}

.medialist {
    flex-basis: 0; 
    flex-grow: 1;
}

.footer {
    padding-left: 30em; 
    padding-right: 15em; 
}

.footer ul li a .fab {
    font-size: 20px
}